<%  layout("layouts/boilerplate.ejs") -%>
<h1>Create a new Listing</h1>
<form>
  <label for="title" >Enter title </label>
  <input type="text" id="title" name="title" >
  <label for="description" ></label>
  <input type="text" id="description" name="description" >
  <label for="image" ></label>
  <input type="text" id="image" name="image" >
  <label for="price" ></label>
  <input type="text" id="price" name="price" >
  <label for="location" ></label>
  <input type="text" id="location" name="location" >
  <label for="country" ></label>
  <input type="text" id="country" name="country" >
</form>