<%  layout("layouts/boilerplate.ejs") -%>
<body>
    <header><nav><h1>All Listings</h1></nav></header>
    <main>
      <% for(const listing of Listings) {%>
        <div class="card" style="width: 18rem;">
          <img src=<%= listing.image%> class="card-img-top" alt="...">
          <div class="card-body">
           <a href="" ><h2><%= listing.title%></h2></a>
           <p class="card-text"><%= listing.description%></p>
          </div>
        </div>
      <% } %>
    </main>
    <footer></footer>
</body>